//:root {
  --forecolor: limegreen;
  --backcolor: white;
  --control-forecolor: darkgreen;
  --control-backcolor: mintcream;
  --text-forecolor: darkolivegreen;
  --text-backcolor: honeydew;
  --button-forecolor: var(--forecolor);
  --button-backcolor: var(---control-backcolor);
}

:root {
  --forecolor: orange;
  --backcolor: white;
  --control-forecolor: darkmagenta;
  --control-backcolor: mistyrose;
  --text-forecolor: plum;
  --text-backcolor: lavender;
  --button-forecolor: var(--forecolor);
  --button-backcolor: var(---control-backcolor);
  --render-forecolor: pink;
  --control-backcolor: lavenderblush;
}


.top-container {
  display: flex;
}

.control {
  width:30% ;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


.filter {
  border:solid;
  border-radius: 10px;
  border-color: var(--control-forecolor);
  background-color: var(--control-backcolor);
  display:inline-block;
}


.filter * {
  color: var(--control-forecolor);
  border-color: var(--control-forecolor);
  scrollbar-color: var(--control-forecolor);
  border-radius: 5px;
}


.iKeywords {
  display:flex;
  flex-direction:row; 
  justify-content: space-around;
}
 
.small-controls {
  max-height:30px;
  font-size: 12px;
  size: 8; 
  display:block;
}

.bigtext, .bigtext * {
  color: var(--text-forecolor);
  background-color: var(--text-backcolor);
}

.bigtext {
  padding-left: 2;   
  padding-right: 2;  
  overflow:scroll; 
}


.runpane * {
  font-weight: bold;
  color: var(--forecolor);
  border-color: var(--forecolor);
  border-radius: 5px;
}

.runpane{
  border-style: double none double double;
  border-radius: 10px;
  border-color: var(--forecolor);
  display:flex; 
  height:24px;
  float:bottom;
}

.runpane button {
  background-color: var(--button-backcolor);
  color: var(--button-forecolor);
}

.rundates {
  cols: 10;
  max-height: 80%;
  font: normal 9px Calibri;
}

.viewport {
  border-style: double double double none;
  display:flex;
  flex-direction: column;
  border-color: var(--forecolor);
  border-radius: 10px;
  width: 70%;
}

.picture {
  border-style: dotted;
  border-color: var(--control-forecolor);
  border-radius: 5px;
  display:flex;  
  flex-direction: row;
  max-height: 400px;  
}

.png {
  border-style: dotted;
  border-color: var(--png-forecolor);
  border-radius: 5px;
  display:flex;  
  flex-direction: row;
  max-height: 400px;  
}


.svg {
  color: var(--forecolor);
  border-color: var(--forecolor);
  scrollbar-color: var(--control-forecolor) var(--text-backcolor);
  border-radius: 10px;
  margin-left: auto;
  moargin-right: auto;    
}

.map-buttons {
  display: flex;
  justify-content: space-between; 
}
